@use '../../assets/styles/media-queries' as media;

.sliderShow {
    position: relative;
    width: 100%;
    height: 255px;
    overflow: hidden;
    border-radius: 1rem;

    @include media.md {
        height: 415px;
    }
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    border: none;
    background: none;
    font-size: 2.4rem;
    padding: 0.5rem;
    z-index: 10;

    @include media.md {
        cursor: pointer;
        font-size: 9.6rem;
    }
}

.prev {
    left: 1rem;
}

.next {
    right: 1rem;
}

.counter {
    display: none;

    @include media.md {
        display: flex;
        position: absolute;
        bottom: 1rem;
        left: 50%;
        color: #fff;
        padding: 0.3rem 0.6rem;
        font-size: 1.8rem;
        border-radius: .5rem;
    }
}