@use '../../assets/styles/media-queries' as media;

.footer {
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    padding: 6.6rem 12.6rem;
    font-size: 1.2rem;

    @include media.md {
        font-size: 2.4rem;
    }

    img {
        width: 12.2rem;
    }
}

.footerParagraph {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;

    @include media.md {
        flex-direction: row;
        justify-content: center;
        padding-top: 2.8rem;
    }
}