:root {
    --primary: #ff6060;
    --white: #fff;
    --gray: #e3e3e3;
    --black: #000;
    --font-montserrat: 'Montserrat', sans-serif;
    --linear-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%);
}